name: github pages

on:
  push:
    branches:
    - master
    - html

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@master

    - name: Generate pdf
      uses: fifsky/html-to-pdf-action@master
      with:
        htmlFile: ./public/cv/index.html
        outputFile: ./public/cv.pdf
        pdfOptions: '{"format": "A4", "margin": {"top": "10mm", "left": "10mm", "right": "10mm", "bottom": "10mm"}}'

    - name: Generate pdf lead
      uses: fifsky/html-to-pdf-action@master
      with:
        htmlFile: ./public/cv/mike.html
        outputFile: ./public/mike.pdf
        pdfOptions: '{"format": "A4", "margin": {"top": "10mm", "left": "10mm", "right": "10mm", "bottom": "10mm"}}'

    - name: Generate pdf pm
      uses: fifsky/html-to-pdf-action@master
      with:
        htmlFile: ./public/cvpm/index.html
        outputFile: ./public/cvpm.pdf
        pdfOptions: '{"format": "A4", "margin": {"top": "10mm", "left": "10mm", "right": "10mm", "bottom": "10mm"}}'

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
